streamlit
pandas
numpy
scikit-learn
matplotlib
plotly
spacy
sentence-transformers
transformers
torch
tqdm
rapidfuzz
PyPDF2
selenium
webdriver-manager
streamlit-option-menu
markdown-it-py
joblib
python-dotenv
